.collectionItem {
  text-indent: 4px;
  padding: 4px;
  list-style-type: none;
}
.collectionItem:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
.stubItem {
  text-indent: 4px;
  padding: 4px;
  list-style-type: none;
}
