.collectionContainer {
  border: 1px solid black;
  text-align: left;
  margin: 8px;
  position: relative;
}
.collectionTitle {
  position: absolute;
  top: -12px;
  left: 8px;
  padding: 0px 4px 0px 2px;
  background-color: white;
}
.collectionItem {
  text-indent: 4px;
  padding: 4px;
  list-style-type: none;
}
.collectionItem:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
