.analyticsMenu {
  border-top: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.analyticsMenuTitle {
  position: relative;
  top: -18px;
  border: 2px solid black;
  border-radius: 18%;
  background-color: white;
  padding: 2px;
}
