.inspectionMenu {
  width: 15%;
  border-left: 2px solid;
  text-align: center;
}
.inspectionMenuTitle {
  display: block;
  margin: 8px 0px 0px 0px;
}
.simulateButton {
  padding: 8px 18px;
  font-size: 18px;
}
