.portPowerItem {
  margin: 0px 18px 0px 0px;
  padding: 0;
  display: flex;
}
.powerInput {
  width: 80px;
}
.powerSourceOutputs {
  display: flex;
  flex-direction: column;
}
.powerSourceTime {
  display: flex;
  flex-direction: column;
}
.addOutputButton {
  width: 100%;
}
.saveButton {
  width: 100%;
}
.powerSourceInspectionContainer {
  display: flex;
}
.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  border-radius: 50%;
}
.closeIcon:hover {
  background-color: lightgray;
}
