.mainMenu {
  display: flex;
  flex: 0 1 22px;
  border-bottom: 2px solid;
}
.mainMenuButton {
  padding: 0px 8px 0px 8px;
}
.mainMenuButton:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
