.tabTitle {
  text-align: center;
  border: 0px;
  outline: none;
  font-size: 16px;
  width: 14ch;
}
.tabTitle:focus {
  outline: none;
}
.tabContainer {
  display: flex;
}
.closeIcon {
  align-self: center;
}
.closeIcon:hover {
  color: rgb(95, 95, 95);
}
