.dropdownItem {
  display: flex;
  align-items: center;
  text-indent: 4px;
  padding: 4px;
  list-style-type: none;
  white-space: nowrap;
}
.dropdownItem:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
