.selectedHeader {
  display: flex;
  justify-content: space-between;
}
.selectedLabel {
  margin-left: 16px;
}
.selectedDelete {
  margin: 6px 6px 0px 6px;
  padding: 2px 2px 0px 2px;
}
.selectedDelete:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.selectedData {
  margin: 8px 4px;
  display: flex;
  flex-direction: column;
}
.selectedKind {
  margin: 4px 8px;
}
.selectedPorts {
  display: flex;
  flex: 1 0 auto;
  margin: 4px 0px;
}
.selectedPortsValues {
  display: flex;
  flex-direction: column;
  margin: 0px 8px;
}
.portPowerItem {
  margin: 0px 18px;
  padding: 0;
}
